* {
    --content-width: min(1200px, calc( 100vw - var(--stickout) - var(--stickout) - 0.8rem ) );
}

:root {
    --header-height: 260px;
    --logo-width: 150px;
    --nav-icon: 1.3em;
    --card-box-shadow: none;
}

.bgc h1, .bgc h2, .bgc h3, .bgc h4, .bgc h5, .bgc h6, .bgc a {
    color: var(--con-color);
}

h1 {
    --h-font-scale-factor: 2.2;
}

h1.product_title.entry-title {
    text-align: left;
    font-size: 1.8em;
    margin-top: 0;
    color: var(--text-color);
}

.block-h1 {
    margin-bottom: 0;
}

.nav-top-bar {
    background: var(--bgc);
    color: var(--con-color);
}

.nav-top {
    display: flex;
    pointer-events: all;
    flex: 0 auto;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
}

.nav-top ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-top a {
    text-decoration: none;
    color: var(--con-color);
    padding: var(--gutter-xs) 0;
    transition: var(--transition-medium);
    background: transparent;
    margin-left: var(--gutter-md);
}

.nav-top a:hover {
    background: transparent;
    text-decoration: underline;
}

.nav-closed .top-bun {
    top: 29%;
}

.nav-closed .bottom-bun {
    bottom: 29%;
    width: 35%;
}

.hamburger {
    top: 50%;
    position: absolute;
    background: white;
    width: 50%;
    height: 1px;
    left: 20%;
    z-index: 200;
    transition: var(--transition-medium);
}

.nav-open .hamburger {
    left: 50%;
    width: 0;
}

.nav-main {
    grid-column: nav-bar / end;
    --submenu-width: 15em;
    bottom: 0;
    display:flex;
    padding-left: calc( (100vw - var(--content-width)) / 2 );
    padding-right: calc( (100vw - var(--content-width)) / 2 );
    justify-content: space-between;
}

.nav-main ul a {
    min-height: auto;
    height: var(--nav-bar-height);
    padding: calc((var(--nav-bar-height) * 0.55) - 1em) .9em;
    font-size: 1.2em;
}

.nav-main > .nav-wrap > ul > li > a {
    border-left: 1px solid rgba(255,255,255,0.2);
}

.nav-main > .nav-wrap > ul > li:last-of-type > a {
    border-right: 1px solid rgba(255,255,255,0.2);
}


li.menu-item-has-children {
    position: relative;
}

@media screen and (min-width: 950px) {
    li.menu-item-has-children:hover:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -1px;
        height: 2px;
        background: white;
    }
}

.nav-main ul.sub-menu {
    left:0;
    display: flex;
    pointer-events: none;
    opacity: 0;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgb(250,250,250);
    width: var(--content-width);
    border: 1px solid rgb(240,240,240);
    --translateY: -2rem;
    transform: var(--translate3d);
    transition: all .25s cubic-bezier(0,0,0,1);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2), 0px 10px 10px rgba(0,0,0,0.15);
}

.nav-main li:hover > ul.sub-menu {
    opacity: 1;
    pointer-events: all;
    --translateY: 0px;
}

.nav-main ul.sub-menu a {
    min-height: 7rem;
    display: flex;
    background: none;
    border: 1px solid rgb(240,240,240);
    border-top: none;
    border-left: none;
    width: calc(0.25 * var(--content-width) - 2px );
}

.nav-main ul.sub-menu a:hover {
    background: rgb(245,245,245);
}
.nav-main ul.sub-menu li:nth-of-type(4n) a {
    border-right: none
}

li.menu-item-object-product_cat {
    flex: 0 1 25%;
    flex: 1 1 auto;

}

.nav-main ul a svg.icon {
    --icon-color: var(--con-color);
    stroke-width: 2px;
}

.nav-main ul li:hover a svg.icon {
    --icon-color: var(--bgc);
}

.nav-thumb {
    width: calc( var(--icon-size) * 2 );
    margin-right: var(--gutter-sm);
    flex: 0 0 30%;
    height: 100%;
    object-fit: contain;
}

.scroll-offset .nav-main {
    --nav-bar-height: 3rem;
}

.sub-menu {
}

.image-reel{
    display: flex;
}

.image-reel .flickity-viewport {
    flex: 1 1 auto;
}

main {
    padding-top: 0;
}

.woocommerce-breadcrumb {
    padding-top: var(--gutter-sm)
}

.card {
    border: var(--card-border);
}

.card.no-bgc {
    background: white;
}


.card.no-bgc h2 {
    color: var(--sec-color);
}

.card.no-bgc .button.closed {
    --button-col-1: var(--sec-color);
    --button-col-2: white;
}

ul.sub-menu ul.sub-menu {
    left: auto;
    right: calc(-1 * var(--submenu-width) );
    transform: var(--translate3d);
    --translateY: calc(-1 * var(--nav-bar-height));
}

.woocommerce-notices-wrapper {
    /*flex: 0 0 100%;*/
}

.woo-product-image-gallery-wrap {
    --colspan: 7.5 ;
}

.entry-summary {
    --colspan: 4.5;
}

.main-image {
    height: calc(var(--main-img-width) * 0.75 );
}

.main-image img {
    object-position: center;
}


.shopping-cart-icon svg.icon {
    stroke: var(--pri-color);
}

.price {

}
.summary .price {

}

.summary .woocommerce-Price-amount.amount {

}

.entry-summary .woocommerce-Price-amount.amount {

}

.woocommerce-variation-price {

}

.woocommerce-variation-availability {
    display:none;
}

button.single_add_to_cart_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.choose-size {
    margin: var(--gutter-sm) 0;
}

.variations_form {
    display:flex;
    flex-direction: column;
}

.variations {
    margin-bottom: var(--gutter-md);
}

.variations td {
    padding: var(--gutter-xs) 0;
}

.variations_button {
    display: flex;
}

.reset_variations {
    margin-left: var(--gutter-sm);
    border: var(--card-border);
    padding: calc(var(--input-height) * 0.25) 1em;
    border-radius: var(--bor-radius-sm);
}

.product .quantity input {
    border: 2px solid var(--additional-1);
    padding: .8em 1em;
    height:100%;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
}

.content-description-wrap {
    background: rgb(250,250,250);
    padding: var(--content-margin) 0;
    margin: 0;
}

.content-description-wrap .tab-description-wrap {
    padding-right: var(--gutter-xl);
}

.plural-attr-names {
    text-transform: lowercase;
}

.attr-value-list-item {
    padding: .2em .7em;
    border: var(--card-border);
    border-radius: var(--bor-radius-sm);
}

.attr-value-list-item.blue {
    color:white;
    background-color: darkblue;
    border-color: darkblue;
}

.attr-value-list-item.pink {
    color:white;
    background-color: deeppink;
    border-color: deeppink;
}

.attr-value-list-item.orange {
    color:white;
    background-color: darkorange;
    border-color: darkorange;
}

.attr-value-list-item.black {
    color:white;
    background-color: black;
    border-color: black;
}

.attr-value-list-item.navy-blue {
    color:white;
    background-color: #2b324e;
    border-color: #2b324e;
}

header.woocommerce-products-header {
    display: none;
}

.products .product a {
    width: 100%;
}

.products .product h2 {
    font-size: 1.15rem;
    color: var(--text-color);
    padding: 0 calc( var(--card-padding) - 0.3em );
}

.starting-at {
    display:block;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1em;
}

.calculated_shipping tr.shipping {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.calculated_shipping tr.shipping th {
    flex: 0 0 80%;
}

.calculated_shipping tr.shipping td {
    flex: 0 0 20%;
}

.woocommerce-widget-layered-nav-list a {
    text-decoration: none;
}


/*tr.shipping:nth-of-type(3) {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    background: rgb(245,245,245);*/
/*    border:var(--card-border);*/
/*}*/

/*tr.shipping td {*/
/*    flex: 1 0 max(30px, 3%);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*tr.shipping th {*/
/*    flex: 1 0 max(200px, 96%);*/
/*}*/

/*tr.shipping th label {*/
/*    display: flex;*/
/*}*/

/*tr.shipping th label span {*/
/*    align-self: flex-end;*/
/*    margin-left: auto;*/
/*    margin-right: 0;*/
/*}*/

/*tr.shipping:nth-of-type(3) th:hover + td, tr.shipping:nth-of-type(3) th:hover {*/
/*    background: rgb(245,245,245);*/
/*    cursor: pointer;*/
/*}*/

/*tr.shipping td:nth-of-type(1) { order: 1; }*/
/*tr.shipping th:nth-of-type(1) { order: 2; }*/
/*tr.shipping td:nth-of-type(2) { order: 3; }*/
/*tr.shipping th:nth-of-type(2) { order: 4; }*/
/*tr.shipping td:nth-of-type(3) { order: 5; }*/
/*tr.shipping th:nth-of-type(3) { order: 6; }*/
/*tr.shipping td:nth-of-type(4) { order: 7; }*/
/*tr.shipping th:nth-of-type(4) { order: 8; }*/
/*tr.shipping td:nth-of-type(5) { order: 9; }*/
/*tr.shipping th:nth-of-type(5) { order: 10; }*/
/*tr.shipping td:nth-of-type(6) { order: 11; }*/
/*tr.shipping th:nth-of-type(6) { order: 12; }*/
/*tr.shipping td:nth-of-type(7) { order: 13; }*/
/*tr.shipping th:nth-of-type(7) { order: 14; }*/


input.shipping_method {
    margin-left: 12px;
    width: 20px;
}

.shipping-method-label {
    width: calc(100% - 49px);
    display: inline-block;
}

.shipping .woocommerce-Price-amount.amount {
    float:right;
    color: rgb(120,120,120);
    font-weight: 300;
}

.shipping input[checked="checked"] + label .woocommerce-Price-amount.amount {
    color: var(--pri-color);
    font-weight: bold;
}

.woocommerce-checkout-review-order {
    --colspan: 6;
    width: var(--width);
}

.woocommerce-checkout-review-order .shipping td {
    display: flex;
}

.summary form.cart {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    width: 100%;
}

.summary form.cart .quantity input {
    flex: 0 0 6rem;
    width: 6rem;
    text-align: right;
    /*display: none;*/
}

#order_review_heading {
    display: none;
}

.checkout.woocommerce-checkout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.woocommerce .checkout .col2-set {
    --colspan: 5;
    width: var(--width);
}

#order_review {
    --colspan: 6;
    width: var(--width);
}

.variations select {
    width: auto;
}

.reset_variations {
    color: var(--text-color);
    text-decoration: none;
}

button.single_add_to_cart_button {
    display: block;
    margin: 0;
    background: var(--success-color);
    font-size: 1em;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.8em 1em;
    transition: var(--transition-fast);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button.single_add_to_cart_button:hover {
    box-shadow: var(--box-shadow);
}

/*tr.shipping + tr.shipping {*/
/*    display: flex;*/
/*    flex-wrap:wrap;*/
/*}*/
/*tr.shipping + tr.shipping td {*/
/*    width:30px;*/
/*    display:block;*/
/*    flex: 0 0 30px;*/
/*}*/
/*tr.shipping + tr.shipping th {*/
/*    width:30px;*/
/*    display:block;*/
/*    flex: 1 1 calc(100% - 30px);*/
/*}*/

.woocommerce .cart-table {
    --colspan: 8;
    width: var(--width);
}

.woocommerce .cart-collaterals {
    --colspan: 4;
    width: var(--width);
}

.footer-content {
    margin: 0;
}

.footer-logo {
    --col-span: var(--grid);
    flex: 0 0 var(--width-no-gutter);
    margin: var(--gutter-sm) 0;
}

.footer-logo .logo-link {
    width: 240px;
}




mark {
    background: var(--additional-4);
    border-bottom: 2px solid var(--additional-5);
    padding: 2px 5px;

}

footer .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


header.woocommerce-Address-title.title {
    display: block;
    grid: none;
    width: auto;
}

@media screen and (max-width: 1350px) {

    .woocommerce .cart-table {
        --colspan: 6;
        width: var(--width);
    }

    .woocommerce .cart-collaterals {
        --colspan: 6;
        width: var(--width);
    }
}

@media screen and (max-width: 1150px) {

    .reset_variations {
        display: inline-block;
        margin: var(--space-sm) 0 0 0;
        padding: var(--space-xxs) var(--space-sm);

    }

    .woocommerce .cart-table {
        --colspan: 12;
        width: var(--width);
    }

    .woocommerce .cart-collaterals {
        --colspan: 12;
        width: var(--width);
    }

    .shop_table.shop_table_responsive td[data-title="Subtotal"], .shop_table.shop_table_responsive td[data-title="Tax"], .shop_table.shop_table_responsive td[data-title="Total"] {
        text-align: right !important;
    }
}

@media screen and (max-width: 950px) {

    :root {
        --header-height: 140px;
        --stickout: 14px;
        --page-padding: 0px;
        --logo-width: min(calc(var(--content-width) - 4 * var(--nav-mobile-height)), 500px);
    }

    header {
        background: white;
        border-bottom: 1px solid rgb(240, 240, 240);
        box-shadow: 0 0px 7px rgba(0,0,0,0.1);
    }

    .nav-main {
        display: none;
    }

    .header-content {
        display: block;
        padding-top: 0;
    }

    .logo-wrap {
        max-width: none;
        margin: 0;
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
    }

    .four-d-header-logo {
        height: 40px;
        background: url('../img/4dfashion-logo-wide.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .shopping-cart {
        position: absolute;
        top: var(--stickout);
        right: var(--stickout);
    }

    .search-box {
        margin-top: 40px;
    }

    .entry-summary, .woo-product-image-gallery, .woo-product-image-gallery-wrap {
        --colspan: 12;
    }
    .summary form.cart .quantity input {
        width: 4.5rem;
    }

    .reset_variations {
        margin-left: var(--space-md);
    }

    .nav-trigger {
        width: var(--nav-mobile-height);
        height: var(--nav-mobile-height);
        top: var(--stickout);
        left: var(--stickout);
        background: white;
        transition: var(--transition-fast);
    }

    .menu-hoofdmenu-container {
        padding-top: calc(var(--nav-mobile-height) + var(--space-md));
    }

    .hamburger {
        height: 2px;
    }

    .nav-open .burger > div {
        background: white;
    }

    .nav-open .top-bun {
        top: 46%;
        bottom: auto;
        width: 65%;
        transform: rotate(45deg);
    }

    .nav-open .bottom-bun {
        top: 46%;
        width: 65%;
        transform: rotate(-45deg);
    }

    .lister-page .columns-4.products .product:nth-of-type(3n), .lister-page .columns-4.products .product:last-of-type {
        border-right: 1px solid rgb(225,225,225);
    }

    .footer-nav {
        --colspan: 6;
        width: var(--width);
    }

    footer .menu > li > a {
        font-family: var(--text-font);
        font-size: 1rem;
        line-height: 1.2em;
        padding: var(--space-xl) 0;
    }

    .woocommerce .checkout .col2-set {
        --colspan: 12;
        width: var(--width);
    }

    #order_review {
        --colspan: 12;
        width: var(--width);
    }

}

@media screen and (max-width: 768px) {



}


@media screen and (max-width: 650px) {

    .footer-logo {
        --colspan: var(--grid);
        flex: 0 0 var(--width);
        margin: var(--gutter-sm) 0;
    }

    .footer-content.footer-naw {
        --colspan: 6;
    }

}

@media screen and (max-width: 650px) {

    .footer-content.footer-naw, .footer-nav {
        --colspan: 12;
    }

}