@media screen and (max-width: 950px) {

    :root {
        --submenu-height: 99999px;
    }

    .nav-trigger {
        background: rgba(255, 255, 255, 0.8);
    }

    .nav-open .nav-trigger {
        margin-right: var(--scrollbar-width);
    }

    .burger > div {
        background: var(--pri-color);
    }

    .nav-trigger {
        display: block;
    }

    html.nav-open {
        overflow: hidden;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        background: var(--pri-color);
        z-index: 999;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        padding-left: var(--stickout);
        padding-right: var(--stickout);
        --translateX: -101vw;
        transform: var(--translate3d);
        transition: var(--transition-fast);
        z-index: 9;
    }

    .nav-open .nav-mobile {
        --translateX: 0;
    }

    .nav-mobile .sub-menu {
        --colspan: 6;
        position: relative;
        min-width: 0;
        max-height: 0;
        width: var(--width);
        top: 0;
        left: var(--width);
        opacity: 0;
        overflow: hidden;
        transition: var(--transition-medium);
        z-index: 3;
        margin-left: 2vw;
    }

    .nav-mobile .menu-item-has-children.hover .sub-menu {
        max-height: none;
        opacity: 1;
        height: 100%;
    }

    .nav-mobile a {
        position: relative;
        color: var(--con-color);
        text-decoration: none;
        background: var(--pri-color);
        z-index: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .4em;
    }

    .menu > li > a {
        font-family: var(--header-font);
        font-size: 1.3rem;
        line-height: 1.2em;
        padding: var(--space-xl) var(--space-sm);
    }

    .menu > li > a > .icon-wrap {
        display: none;
    }

    .nav-mobile .menu-item-has-children.hover > a:before,
    .menu-item-has-children:hover > a:before {
        width: 90%;
        opacity: 1;
    }

    .nav-mobile .menu-item-has-children > a:after {
        content: '';
        border-width: 1px;
        border-style: solid;
        border-color: var(--con-color) var(--con-color) transparent transparent;
        transition: var(--transition-fast);
        right: auto;
        background: var(--pri-color);
        z-index: 5;
        width: 15px;
        height: 15px;
        transform: rotate(135deg) translateY(-1px) translateX(-6px);
    }


    .nav-mobile .menu-item-has-children.hover > a:after {
        border-color: transparent transparent var(--con-color) var(--con-color);
        transform: rotate(135deg) translateY(-6px) translateX(1px);
    }

    .nav-mobile .sub-menu a {
        padding: var(--space-md);
        border: 1px solid var(--pri-color-light-30);
        border-bottom: none;
    }

    .nav-mobile .sub-menu li:last-of-type a {
        border-bottom: 1px solid var(--pri-color-light-30);
    }

    .nav-mobile .sub-menu a:hover {
        background: none;
    }

    .menu {
        align-items: flex-start;
        position: relative;
    }

    .menu-hoofdmenu-container,
    .menu-topmenu-container {
        --colspan: 6;
        width: var(--width);
        margin-left: var(--content-side-margin);
    }

    .menu-hoofdmenu-container {
        padding-top: calc(var(--logo-width) + var(--space-md));
    }


    .menu-hoofdmenu-container > ul,
    .menu-topmenu-container > ul {
        display: flex;
        flex-direction: column;
    }

    .menu-hoofdmenu-container li,
    .menu-topmenu-container li {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .menu-hoofdmenu-container .sub-menu,
    .menu-topmenu-container .sub-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-mobile a,
    .nav-mobile ul,
    .nav-mobile li {
        box-shadow: none;
    }

    .nav-mobile ul.children {
        display: block;
        position: relative;
        margin: 0;
        top: 0px;
        background: none;
    }

    .nav-mobile ul.children a {
        font-weight: normal;
    }

    .nav-mobile li a {
        padding-left:0;
    }

    .nav-icon {
        --icon-size: 2rem;
        --icon-color: var(--con-color);
    }

    .menu-hoofdmenu-container,
    .menu-topmenu-container,
    .nav-mobile .sub-menu {
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    .nav-mobile .nav-icon {
        margin-left: 0;
        margin-right: 0;
    }

    .nav-mobile .menu-item-text {
        margin-left: 0;
        margin-right: 0;
    }

}